.background, .table-view .filler, .dialog-pane, .dialog-pane:header .header-panel {
	-fx-background-color: #50514F;
}

.text-field {
	-fx-border-border: #F6E8EA;
}

.text-field:focused {
	-fx-focus-color: #F6E8EA;
}

.label {
	-fx-text-fill: #F6E8EA;
}

.button {
	-fx-background-color: #D7B377;
	-fx-background-radius: 4px;
	-fx-font-weight: bold;
}

.button:hover {
	-fx-background-color: #D7B377;
	-fx-background-radius: 4px;
	-fx-border-color: #F6E8EA;
	-fx-border-width: 2px;
	-fx-border-radius: 4px;
	-fx-font-weight: bold;
}

.button-1 {
	-fx-background-color: #D2D6EF;
	-fx-background-radius: 4px;
	-fx-font-weight: bold;
}

.button-1:hover {
	-fx-background-color: #D2D6EF;
	-fx-background-radius: 4px;
	-fx-border-color: #F6E8EA;
	-fx-border-width: 2px;
	-fx-border-radius: 4px;
	-fx-font-weight: bold;
}

.button-confirm {
	-fx-background-color: #70C1B3;
	-fx-background-radius: 4px;
	-fx-font-weight: bold;
}

.button-confirm:hover {
	-fx-background-color: #70C1B3;
	-fx-background-radius: 4px;
	-fx-border-color: #F6E8EA;
	-fx-border-width: 2px;
	-fx-border-radius: 4px;
	-fx-font-weight: bold;
}

.scroll-pane {
	-fx-background: transparent;
}

.scroll-bar, .decrement-button:hover, .increment-button:hover {
	-fx-background-color: transparent;
}

.thumb {
	-fx-background-color:derive(black, 60%);
}

.thumb:hover{
	-fx-background-color:derive(black, 80%);
}

.table-view {
	-fx-background-color: transparent;
}

.table-view .column-header {
	-fx-background-color: derive(black, 80%);
}

.table-view .arrow {
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-shape: "";
}

.table-view .cell {
	-fx-alignment: center;
}




