.background, .table-view .filler, .dialog-pane, .dialog-pane:header .header-panel {
	-fx-background-color: #080808;
}

.text-field {
	-fx-border-border: #F6E8EA;
}

.text-field:focused {
	-fx-focus-color: #F6E8EA;
}

.label {
	-fx-text-fill: #F6E8EA;
}

.label-categories {
	-fx-font: 24px "Manjari";
	-fx-text-fill: #F6E8EA;
	-fx-font-weight: bold;
}

.button {
	-fx-font: 16px "Manjari";
	-fx-background-color: #8B0000;
	-fx-background-radius: 4px;
	-fx-text-fill: #F6E8EA;
	-fx-font-weight: normal;
}

.button:hover {
	-fx-font: 16px "Manjari";
	-fx-background-color: #8B0000;
	-fx-background-radius: 4px;
	-fx-border-color: #F6E8EA;
	-fx-border-width: 2px;
	-fx-border-radius: 4px;
	-fx-font-weight: bold;
}

.button-menu {
	-fx-font: 24px "Manjari";
	-fx-background-color: #8B0000;
	-fx-background-radius: 16px;
	-fx-text-fill: #F6E8EA;
	-fx-font-weight: normal;
}

.button-menu:hover {
	-fx-font: 24px "Manjari";
	-fx-background-color: #8B0000;
	-fx-background-radius: 16px;
	-fx-border-color: #F6E8EA;
	-fx-border-width: 4px;
	-fx-border-radius: 16px;
	-fx-font-weight: bold;
}

.button-menu-1 {
	-fx-font: 20px "Manjari";
	-fx-background-color: #8B0000;
	-fx-background-radius: 16px;
	-fx-text-fill: #F6E8EA;
	-fx-font-weight: normal;
}

.button-menu-1:hover {
	-fx-font: 20px "Manjari";
	-fx-background-color: #8B0000;
	-fx-background-radius: 16px;
	-fx-border-color: #F6E8EA;
	-fx-border-width: 4px;
	-fx-border-radius: 16px;
	-fx-font-weight: bold;
}

.button-1 {
	-fx-font: 24px "Manjari";
	-fx-background-color: #8B0000;
	-fx-background-radius: 0px;
	-fx-font-weight: normal;
	-fx-pref-height: 100px;
	-fx-pref-width: 200px;
}

.button-1:hover {
	-fx-font: 24px "Manjari";
	-fx-background-color: #8B0000;
	-fx-background-radius: 0px;
	-fx-border-color: #F6E8EA;
	-fx-border-width: 4px;
	-fx-border-radius: 0px;
	-fx-font-weight: bold;
}


.scroll-pane {
	-fx-background: transparent;
}

.scroll-bar, .decrement-button:hover, .increment-button:hover {
	-fx-background-color: transparent;
}

.thumb {
	-fx-background-color:derive(black, 60%);
}

.thumb:hover{
	-fx-background-color:derive(black, 80%);
}

.table-view {
	-fx-background-color: transparent;
}

.table-view .column-header {
	-fx-background-color: derive(black, 90%);
}

.table-view .arrow {
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-shape: "";
}

.table-view .cell {
	-fx-alignment: center;
}




